<!-- realTimeProducts.handlebars -->
<h1>{{nombre_vista}}</h1>
<!-- Formulario para agregar productos -->
<form id="productForm" action="/products" method="post"> 
  <input type="text" name="title" placeholder="Title" required>
  <input type="text" name="description" placeholder="Description" required>
  <input type="number" name="price" placeholder="Price" required step="any">
  <input type="text" name="code" placeholder="Code" required>
  <input type="text" name="category" placeholder="Category" required>
  <input type="number" name="stock" placeholder="Stock" required step="any">
  <input type="text" name="thumbnail" placeholder="Pictures" required>
  <button type="submit">Add Product</button>
</form>

<!-- Lista de productos -->
<table id="productList" class="product-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>
     <button class="delete-button" data-id="{{this._id}}" onclick="eliminarProducto('{{this._id}}')">Delete</button>

      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<!-- Paginación -->
{{#if totalPages}}
  <nav>
    <ul class="pagination">
      {{#if firstLink}}
        <li><a href="{{firstLink}}">First</a></li>
      {{/if}}
      {{#if prevLink}}
        <li><a href="{{prevLink}}">Previous</a></li>
      {{/if}}
      {{#if nextLink}}
        <li><a href="{{nextLink}}">Next</a></li>
      {{/if}}
      {{#if lastLink}}
        <li><a href="{{lastLink}}">Last</a></li>
      {{/if}}
    </ul>
  </nav>
{{/if}}